name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  GOLANGCI_LINT_VERSION: "v1.59.1"

jobs:
  build:
    strategy:
      matrix:
        go-version: [ '1.17', '1.18', '1.19', '1.20', '1.21']
        os: [ ubuntu-22.04, macos-12, windows-2022 ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Enforce standard format
        uses: golangci/golangci-lint-action@a4f60bb28d35aeee14e6880718e0c85ff1882e64 # v6.0.1
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          args: --timeout 3m --enable=gofmt --verbose
      - name: Test
        run: go test --cover -v ./...
      - name: Build
        run: go build -v ./...
