name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  GOLANGCI_LINT_VERSION: "v2.7.2"

jobs:
  build:
    strategy:
      matrix:
        go-version: [ '1.19', '1.20', '1.21', '1.22', '1.23', '1.24' ]
        os: [ ubuntu-24.04, macos-14, windows-2022 ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: ${{ matrix.go-version }}
          cache-dependency-path: |
            **/go.sum
            **/go.mod
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Enforce standard format
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          args: --verbose
      - name: Test
        run: go test --cover -v ./...
      - name: Build
        run: go build -v ./...
